@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grayish-blue);

  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;

  user-select: none;
}

.main {
  width: 60rem;
  background-color: var(--white);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border-radius: 1rem;
  overflow: hidden;
}

.main > .image {
  width: 100%;
}

.description {
  padding: 3.2rem;

  display: grid;
  gap: 2.4rem;
}

.description > .tag {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.description > h1 {
  font-family: 'Fraunces', serif;
  font-size: 3.2rem;
  line-height: .9;
  color: var(--very-dark-blue);
}

.description > .text {
  line-height: 1.6;
}

.prices {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.prices > .price:first-child {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
}

.prices > .price:last-child {
  text-decoration: line-through;
}

.cta {
  border-radius: 1rem;
  background-color: var(--dark-cyan);
  border: none;
  color: var(--white);
  padding: 1.2rem;
  font-weight: 700;
  font-size: 1.6rem;

  cursor: pointer;
  transition: .3s all;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.cta:hover {
  background-color: hsl(158, 36%, 25%);
}

.mobile {
  display: none;
}

@media (max-width: 600px) {
  .main {
    width: 90%;
    margin-inline: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .description {
    padding: 2.2rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}